[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ethgasz
[access "refs/for/refs/*"]
	read = group user/ethgasz
	push = group user/ethgasz
	label-Code-Review = -2..+2 group user/ethgasz
	label-Verified = -1..+1 group user/ethgasz
	rebase = group user/ethgasz
	removeReviewer = group user/ethgasz
	submit = group user/ethgasz
[access "refs/heads/*"]
	read = group user/ethgasz
	create = group user/ethgasz
	push = +force group user/ethgasz
	pushMerge = group user/ethgasz
[access "refs/tags/*"]
	push = +force group user/ethgasz
	pushTag = group user/ethgasz
	pushSignedTag = group user/ethgasz
